# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo

# Vercel
.vercel
